@use '../utils/variables' as v;
@use '../utils/mixins';

.tooltip { 
    position: relative; 
    display: inline-block; 

    .tooltip-content {
        position: absolute; 
        bottom: calc(100% + 10px); 
        left: 50%; 
        transform: translateX(-50%);
        background: v.$lightpink; 
        color: #fff; 
        padding: 6px 8px; 
        border-radius: 6px;
        font-size: 12px; 
        white-space: nowrap; 
        z-index: 10;
        opacity: 0; 
        visibility: hidden; 
        pointer-events: none;
        transition: opacity .15s ease, transform .15s ease, visibility .15s;

        &::after {
            content: ""; 
            position: absolute; 
            top: 100%; 
            left: 50%; 
            transform: translateX(-50%);
            border: 6px solid transparent; 
            border-bottom: 0;
            border-top-color: v.$lightpink;
        }
    }

    &:hover .tooltip-content, .tooltip:focus-within .tooltip-content{
        opacity: 1; 
        visibility: visible; 
        transform: translateX(-50%) translateY(-2px);    
    }
}