@use '../utils/variables' as v;
@use '../utils/mixins';

.filter-wrapper {
    width: 298px;
    margin: 0 auto;

    .filter {
        background-color: v.$white;
        border-radius: 40px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &.open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            display: flex;
            align-items: center;

            svg {
                color: v.$gold;
                transition: transform .15s ease;
                
                &.rotated {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .filter-dropdown {
        max-height: 0;
        transition: max-height .1s ease-in-out;
        overflow: hidden;
        background-color: v.$white;           
        border-bottom-left-radius: 40px;  
        border-bottom-right-radius: 40px;


        &.open {
            max-height: 150px;
            z-index: 1000;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .scroll {
            max-height: 150px;
            overflow: auto;
            padding: 8px 12px 8px 0;       /* espace à droite pour la scrollbar */
            scrollbar-gutter: stable both-edges; /* espaces stables (Chrome/Firefox) */
            background-clip: padding-box;  /* évite que le fond dépasse dans le rayon */
        }

        ul {
            margin: 0; 
            padding: 0;

            li {
                padding: 0 30px;

                &:hover {
                    background-color: v.$hover;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
}