@use '../utils/variables' as v;
@use '../utils/mixins';

.tags {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 30px;

    @include mixins.tablet {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    @include mixins.laptop {
        grid-template-columns: repeat(3, 1fr);
    }

    .tag {
        width: 300px;
        margin: 0 auto;
        border-radius: 40px;
        background-color: v.$gold;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        min-width: 0;

        @include mixins.tablet {
            width: 100%;
        }

        &:hover {
            filter: brightness(0.95);
        }

        span {
            color: v.$white !important;
            font-weight: 500;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            align-items: center;
        }

        button {
            display: flex;
            align-items: center;
            padding: 6px;           
            min-width: 32px;
            min-height: 32px;

            &:focus-visible {
                outline: 2px solid v.$goldborders; 
                outline-offset: 2px;
            }

            svg {
                color: v.$white;
                font-size: 20px;
                cursor: pointer;

            }
        }
    }
}